.todo-box{
    border: 1px;
    border-radius: 10px;
    background-color: cadetblue;
    margin: 10px 40%;
    padding: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
    
}

.setected{
    background-color:rgb(0, 214, 252);
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin: 20px 40%;
    padding: 10px;
    border-radius: 10px;
}

.btn{
   color: white;
   font-size: 20px;
   
}